@charset "utf-8";

/* memo
  main color:#34A6F3
*/

/* common */

body{
  color:#222;
  font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
}

a{
  text-decoration: none;
  color:inherit;
}

a:hover{
  opacity:0.7;
  transition: 0.5s;
}

a:visited{
  color:inherit;
}

li{
  list-style: none;
}

.container{
  max-width:1200px;
  margin:0 auto;
  padding:10px 20px;
}

section.container{
  padding:50px 30px;
}

.title_icon{
  width:100%;
  height:3rem;
  text-align: center;
  margin-bottom:5px;
}

.section_title{
  font-size: 1.4rem;
  text-align:center;
  position:relative;
}

.section_title::before,
.section_title::after{
  position:absolute;
  top:50%;
  content: "";
  width:30%;
  height:2px;
  background-color: #34A6F3;
  transform: translateY(-50%);
}

.section_title::before{
  left:0;
}

.section_title::after{
  right:0;
}


/* header */

header{
  position:fixed;
  top:0;
  left:0;
  width: 100%;
  background-color:rgba(255,255,255,1) ;
  z-index:999;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo_top{
  width: 300px;
}

.nav{
  position:relative;
}

.menu{
  display:flex;
  gap:30px;
  padding:0 20px;
}

.hamburger{
  display:none;
  width:40px;
  height:auto;
}

.menu li{
  font-size: 0.8rem;
  text-shadow:
    1px  1px 0 rgba(255,255,255,0.2);
  font-weight: 600;
}


/* main view */

.mv{
  background-image: url(images/main.jpg);
  opacity: 0.8;
  background-size:cover;
  background-position: center;
  width:100%;
  height:100vh;
  position:relative;
}

.mv_wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mv_content{
  max-width:600px;
  margin-top:15%;
  padding:2%;
  text-align: center;
  background-color: #ffffffc5;
}

.mv_content .mv_title h2,
.mv_content .mv_title p,
.mv_content .mv_date,
.mv_content .mv_time >*{
  color:#111;
}

.mv_title h2{
  font-size:2.5rem;
  font-weight: 600;
}

.mv_title p{
  font-size:1.4rem;
  font-weight: 600;
}

.mv_date{
  margin:0 auto;
  margin-top: 50px;
}

.mv_date time{
  font-size: 2rem;
  border-bottom: 1px solid #fff;
}

.mv_card{
  max-width:450px;
  margin:0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap:10px;
  margin-top: 80px;
}

.mv_time{
  max-width: 250px;
  margin:0 auto;
  margin-top:10px;
  display:grid;
  grid-template-columns: 1fr 1fr;
  font-size: 1.1rem;
  font-weight: 600;
}

.mv_ticket a{
  margin:0 auto;
  margin-top:90px;
  width:200px;
  height:60px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 2px 2px 2px #888;
  transition: 0.7s;
  display: flex;
  align-items: center;
  padding:5px;
}

.mv_ticket a div{
  margin:0 auto;
}

.mv_ticket i,
.mv_ticket p{
  transition: 0.7s;
  color:#288bcd;
}

.mv_ticket i{
  font-size: 1.3rem;
}

.mv_ticket p{
  font-size: 1rem;
  font-weight: 600;
}

.mv_ticket a:hover{
  background-color:#34A6F3;
  opacity:1;
  transition: 0.7s;
}

.mv_ticket a:hover i,
.mv_ticket a:hover p{
  color: #fff;
  transition: 0.5s;
}


/* about */

.about{
  text-align: center;
}

.about >*{
  margin:30px 0;
}

.about h2{
  color:#34A6F3;
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
}

.about p{
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  line-height: 2.2rem;
}

.about .author{
  display:inline-block;
  margin-top:20px;
  letter-spacing: 0.1rem;
  font-weight:600;
}

.about .author::before,
.about .author::after{
  content:"ï¼";
}


/* join */

#join{
  padding-top:2%;
}

.join h2{
  text-align: center;
  color: #1F6391;
  margin-bottom:30px;
  border-bottom:1px solid #ccc;
}

.join_list{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap:70px;
  padding:20px;
}

.join_item{
  width:calc( (100% - 70px ) / 2);
  background-image:url(images/icon1.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.join_title{
  color:#444;
  text-align:center;
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.join_desc{
  color:#444;
  margin:0 auto;
  max-width: 300px;
  font-weight: 500;
}


/* artist workshop */

.card{
  margin:20px 0;
  padding:20px;
  display:flex;
  gap:30px;
}

.a_card img{
  max-width:250px; 
  max-height:250px; 
}

.profile{
  display:flex;
  flex-direction:column;
  justify-content:center;
}

.profile h3{
  font-size: 1.3rem;
  margin-bottom:20px;
}

.profile p{
  font-weight: 500;
}

#Artist{
  background-color: #f2faff;
}

#Workshop ul{
  display: flex;
  justify-content: space-between;
}

.w_card{
  width:calc( (100% - 20px ) / 2);
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
}

.w_card img{
  width:100%;
  max-width:500px;
  height:auto;
}

.w_card h3{
  text-align: center;
}


/* ticket */

#Ticket{
  background-color: #f2faff;
}

.price,
.purchase{
  padding:20px;
}

.price_list{
  margin:0 auto;
  display: flex;
  flex-direction: column;
  gap:20px;
  padding:20px 100px;
  max-width: 760px;
}

.price_item{
  display: flex;
  justify-content: space-between;
  border-bottom:1px solid #ccc;
}

.price_list dt,
.price_list dd{
  font-weight: 600;
  margin:0;
  font-size: 1.6rem;
}

.price_list span{
  font-size: 0.8rem;
}

.tax{
  font-weight: 200;
}

.purchase small{
  padding:20px 100px;
  max-width: 800px;
}

.purchase h3{
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  border-bottom:20px;
}

.purchase p{
  margin-top:5px;
  font-size: 0.8rem;
  text-align: center;
}

.purchase_button{
  margin:30px auto 0 auto;
  width:60%;
  height:80px;
  background-color: #34A6F3;
  border-radius: 10px;
  box-shadow: 2px 2px 2px #888;
  padding:5px;
  display:flex;
  justify-content: center;
  align-items: center;
}

.purchase_button p{
  display: block;
  text-align: center;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
}


/* access */

#Access h3{
  margin:20px 0;
  text-align:center;
}

.access_content{
  display: flex;
  justify-content: space-between;
  gap:40px;
  max-height: 350px;
}

.map_wrapper{
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
}

.map_wrapper >*{
  max-height:300px;
}

.map_wrapper .map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.access_item{
  padding:10px 0;
}
.access_item{
  width:100%;
  max-width:600px;
  margin:0 auto;
}

.access_item dl{
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  width: 100%;
}

.access_item dt{
  width:80px;
  margin:3px 0;
  margin-right:20px;
}

.access_item dd{
  width:calc(100% - 100px);
  width:70%;
  margin:3px 0;
}

.access_info{
  margin-top:20px;
}

.access_info a{
  border-bottom:solid 1px #888;
}


/* illustration */

#Illustration{
  padding-top:20px;
}

.illust_content{
  display: flex;
  justify-content: space-between;
  gap:40px;
  max-height: 400px;
  margin-top: 50px;
}

.illust_photo img{
  display: block;
  width:100%;
  height:auto;
  max-height:400px;
}

.illust_text p{
  margin-top:10px;
}


/* footer */

footer{
  background-color: #1F6391;
  min-height:20vh;
}

footer >*{
  color:#fff;
  font-size: 0.9rem;
}

footer .container{
  padding:20px 100px;
  display: flex;
  justify-content: space-between;
}


/* responsive */
@media(max-width:900px){

  /* header */
  .menu{
    display:none;
  }

  .logo_top{
    width:100%;
    max-width: 240px;
  }

  .hamburger{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
  }

  .hamburger_bar{
    display: block;
    width:50px;
    border: 3px solid #666;
    transition:0.5s;
  }

  .hamburger.active .bar1{
    transform:scale(0.8)translateY(19px)rotate(45deg);
    transition:0.5s;
  }

  .hamburger.active .bar3{
    transform:scale(0.8)translateY(-19px)rotate(-45deg);
    transition:0.3s;
  }

  .hamburger.active .bar2{
    border: 3px solid #fff;
    transition:0.3s;
  }

  .menu.active{
    display:flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width:100%;
    left:0;
    top:65px;
    background-color: #ffffffee;
    padding-top:10px;
  }

  .menu.active li{
    line-height: 2.5rem;
  }
  
  .mv{
    background-size:cover;
    background-position: top;
    height:auto;
  }

  .mv_content{
    margin-top: 15%;
  }

  .mv_date{
    margin-top:15%;
  }

  .mv_date time{
    font-size: 1.6rem;
  }


  .mv_title h2{
    font-size: 1.5rem;
  }

  .mv_title p{
    font-size: 1.0rem;
  }

  .mv_time dt{
    font-size: 0.9rem;
  }

  .mv_ticket a{
    margin-top:15%;
    margin-bottom:15%;
    width:160px;
    height:40px;
  }

  .mv_ticket p{
    font-size: 0.8rem;
  }

  .join_list{
    flex-direction: column;
    align-items:center;
    gap:30px;
  }

  .join_item,
  .join_desc{
    width:100%;
    max-width: 500px;
    text-align: left;
  }

  .access_content{
    flex-direction: column;
    max-height: none;
  }

  .map_wrapper{
    max-width: none;
  }

  .illust_content{
    flex-direction: column;
    max-height: none;
    margin-top:5%;
  }

  .illust_photo img{
    max-width:300px;
    margin:0 auto;
  }

  footer .container{
    padding:20px;
    flex-direction: column;
    align-items: left;
    gap:30px;
  }
}

@media(max-width:620px){

  .menu.active{
    display:block;
    text-align: center;
    line-height: 2rem;
  }

  .mv_wrapper{
    min-height:400px
  }

  .mv_content h2,
  .mv_content p,
  .mv_ticket{
    display: none;
  }

  .mv_date{
    margin-top:3%;
  }

  .about h2{
    font-size: 1.1rem;
  }

  .about p{
    font-size: 1.0rem;
    letter-spacing: 0;
    text-align: left;
  }

   .section_title{
    font-size:1.2rem;
  }

  .section_title::before,
  .section_title::after{
    width:20%;
    height:2px;
    background-color: #34A6F3;
    transform: translateY(-50%);
  }

  .join_title{
    font-size: 1.2rem;
    margin-bottom: 5px;
  }

  .join_desc{
    font-weight: 500;
  }

  .a_card{
    flex-direction: column;
    align-items: center;
  }

  .profile h3{
    font-size: 1.1rem;
  }

  .w_box{
    flex-direction: column;
    align-items: center;
  }

  .w_card{
    width:100%;
  }

  .price_list{
    padding:20px 0;
  }

  .purchase h3,
  .purchase p{
    text-align: left;
  }

  .purchase_button{
    width:200px;
  }

  .purchase_button p{
    font-size: 1.1rem;
  }
}

@media(max-width:450px){
  .access_item dl dd{
    width: 100%;
    margin-left: 1.0rem;
  }
}

/* privacy */
.privacy_container{
  max-width:1200px;
  margin:0 auto;
  margin-top:50px;
  padding:5%;
}

.privacy h2{
  margin-bottom:10px;
}
.privacy a{
  text-decoration:underline;
}