@charset "utf-8";

/* memo
  main color:#34A6F3
*/

/* common */

body{
  color:#222;
  font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
}

a{
  text-decoration: none;
  color:inherit;
}

a:hover{
  opacity:0.7;
  transition: 0.5s;
}

a:visited{
  color:inherit;
}

li{
  list-style: none;
}

.container{
  max-width:1200px;
  margin:0 auto;
  padding:10px 20px;
}

section.container{
  padding:40px 100px;
}

.title_icon{
  width:100%;
  height:3rem;
  text-align: center;
  margin-bottom:5px;
}
.section_title{
  text-align:center;
  position:relative;
}

.section_title::before,
.section_title::after{
  position:absolute;
  top:50%;
  content: "";
  width:30%;
  height:2px;
  background-color: #34A6F3;
  transform: translateY(-50%);
}

.section_title::before{
  left:0;
}
.section_title::after{
  right:0;
}

/* header */

header{
  position:fixed;
  top:0;
  left:0;
  width: 100%;
  background-color:rgba(255,255,255,1) ;
  z-index:999;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo_top{
  width: 300px;
}

.menu{
  display:flex;
  gap:30px;
  padding:0 20px;
}

.menu li{
  font-size: 0.8rem;
  text-shadow:
    1px  1px 0 rgba(255,255,255,0.2);
  font-weight: 600;
}

/* main view */

.mv{
  background-image: url(https://as2.ftcdn.net/v2/jpg/02/41/08/75/1000_F_241087585_XXIKnyOrr4JUYVHlLTvzUm5pBNSsnehB.jpg);
  background-size:cover;
  background-position: center;
  width:100%;
  min-height:400px;
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mv_content {
  width:400px;
  text-align: center;
}

.mv_content .mv_title h2,
.mv_content .mv_title p,
.mv_content .mv_date{
  color:#fff;
}

.mv_title h2{
  font-size:3rem;
}

.mv_title p{
  font-size:1.2rem;
  margin-top: -10px;
}

.mv_date{
  margin-top:20px
}

.mv_date time{
  font-size: 4rem;
}

.mv_ticket a{
  margin:0 auto;
  margin-top:200px;
  width:200px;
  height:50px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 2px 2px 2px #888;
  transition: 0.7s;
  display: flex;
  align-items: center;
  padding:5px;
}
.mv_ticket a div{
  margin:0 auto;
}

.mv_ticket i,
.mv_ticket p{
  transition: 0.7s;
  color:#288bcd;
}

.mv_ticket i{
  font-size: 1.3rem;
}

.mv_ticket p{
  font-size: 1rem;
  font-weight: 600;
}

.mv_ticket a:hover{
  background-color:#34A6F3;
  opacity:1;
  transition: 0.7s;
}

.mv_ticket a:hover i,
.mv_ticket a:hover p{
  color: #fff;
  transition: 0.5s;
}

/* about */

.about{
  text-align: center;
}

.about >*{
  margin:30px 0;
}

.about h2{
  color:#34A6F3;
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
}

.about p{
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  line-height: 2.2rem;
}

/* .about .message{
  color:#34A6F3;
  font-size:1.2rem;
  font-weight: 600;
} */

.about .author{
  display:inline-block;
  margin-top:20px;
  letter-spacing: 0.1rem;
  font-weight:600;
  /* font-size:0.9rem; */
}

.about .author::before,
.about .author::after{
  content:"ï¼";
}


/* join */

.join h2{
  text-align: center;
  color: #1F6391;
  margin-bottom:30px;
  border-bottom:1px solid #ccc;
}

.join_list{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap:70px;
  padding:20px;
}

.join_item{
  width:calc( (100% - 70px ) / 2);
  background-image:url(images/icon1.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.join_title{
  color:#444;
  text-align:center;
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.join_desc{
  color:#444;
  margin:0 auto;
  max-width: 300px;
  font-weight: 600;
}



/* artist workshop */

.card{
  margin:20px 0;
  padding:20px;
  display:flex;
  justify-content: space-between;
  gap:30px;
}

.a_card img{
  max-width:250px; 
  max-height:250px; 
}

.profile{
  display:flex;
  flex-direction:column;
  justify-content:center;
}


.profile h3{
  font-size: 1.3rem;
  margin-bottom:20px;
}

.profile p{
  font-weight: 500;
}

#Artist{
  background-color: #f2faff;
}

#Workshop ul{
  display: flex;
  justify-content: space-between;
}

.w_card{
  width:calc( (100% - 20px ) / 2);
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
}

.w_card img{
  width:100%;
  max-width:500px;
  height:auto;
}

.w_card h3{
  text-align: center;
}

/* ticket */
#Ticket{
  background-color: #f2faff;
}

.price,
.purchase{
  padding:20px;
}

.price_list{
  margin:0 auto;
  display: flex;
  flex-direction: column;
  gap:20px;
  padding:20px 100px;
  max-width: 760px;
}

.price_item{
  display: flex;
  justify-content: space-between;
  border-bottom:1px solid #ccc;
}

.price_list dt,
.price_list dd{
  font-weight: 600;
  margin:0;
  font-size: 1.6rem;
}

.price_list span{
  font-size: 0.8rem;
}

.tax{
  font-weight: 200;
}

.purchase small{
  padding:20px 100px;
  max-width: 800px;
}

.purchase h3{
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  border-bottom:20px;
}

.purchase p{
  margin-top:5px;
  font-size: 0.8rem;
  text-align: center;
}

.purchase_button{
  margin:30px auto 0 auto;
  width:60%;
  height:80px;
  background-color: #34A6F3;
  border-radius: 10px;
  box-shadow: 2px 2px 2px #888;
  padding:5px;
  display:flex;
  justify-content: center;
  align-items: center;
}

.purchase_button p{
  display: block;
  text-align: center;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
}


/* access */

#Access h3{
  margin:20px 0;
  text-align:center;
}

.access_content{
  display: flex;
  justify-content: space-between;
  gap:40px;
}

.map_wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height:auto;
  max-width: 600px;
  min-height: 300px;
  margin: 0 auto;
}

.map_wrapper .map{
  width:100%;
  height:90%;
}

.access_item{
  padding:10px 0;
}
.access_item{
  width:100%;
  max-width:600px;
  margin:0 auto;
}

.access_item dl{
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  width: 100%;
}

.access_item dt{
  width:80px;
  margin:3px 0;
  margin-right:20px;
}

.access_item dd{
  width:calc(100% - 100px);
  width:70%;
  margin:3px 0;
}

.access_info{
  margin-top:20px;
}

.access_info a{
  border-bottom:solid 1px #888;
}


/* footer */

footer{
  background-color: #1F6391;
  min-height:20vh;
}

footer >*{
  color:#fff;
  font-size: 0.9rem;
}

footer .container{
  padding:20px 100px;
  display: flex;
  justify-content: space-between;
}
